# mandatory
NUXT_SESSION_PASSWORD= # any string with do
NUXT_PUBLIC_COMMIT_HASH= # use latest commit hash from this repo : https://github.com/matxx/feh-data

# optional
NUXT_PUBLIC_GTAG_UA=
NUXT_PUBLIC_SENTRY_DSN=
