# mandatory
NUXT_PUBLIC_COMMIT_HASH= # use latest commit hash from this repo : https://github.com/matxx/feh-data
NUXT_SESSION_PASSWORD= # any string will do

# optional
NUXT_PUBLIC_GTAG_UA=
NUXT_PUBLIC_SENTRY_DSN=
