<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Diabolos_Mweapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{727,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_FlowerBudPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MweaponPlayer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{243,1},{220,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MweaponPlayer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{485,1},{220,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Mweapon_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{727,93},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Mweapon_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{727,145},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Diabolos.png</string>
            <key>size</key>
            <string>{818,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcfeb0fef9ed347aad74dc393f23b925:f26ff7811103a0850da898c01532a0ba:1a5b15eef8a29cea6392c3c6f63d3ded$</string>
            <key>textureFileName</key>
            <string>Diabolos.png</string>
        </dict>
    </dict>
</plist>
