<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_EngagePlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Engage_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{305,133},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_LegendDarkEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,243},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendEarthEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{133,243},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{223,133},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_LegendFireEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{223,1},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_LegendHeavenEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{265,215},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_LegendLightEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{265,347},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendLogicEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{343,1},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_LegendWaterEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{1,363},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendWindEngageS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{133,363},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Engage.png</string>
            <key>size</key>
            <string>{462,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b48ddaaa693887dee6862c385c0fe2:fc917e321f898d03e91274ae4e8c0f7d:1185dc17f3a72650ab4bd6cd5f89903b$</string>
            <key>textureFileName</key>
            <string>Engage.png</string>
        </dict>
    </dict>
</plist>
