<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Blessing_Dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{583,889},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Dark_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{293,629},{300,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Blessing_Heaven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{675,889},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Heaven_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{585,327},{300,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{767,889},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Light_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{887,327},{300,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Logic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{859,889},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Blessing_Logic_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{300,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1189,327},{300,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ConnectBonds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{951,889},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ConnectBonds_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,272}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1473,617},{272,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ConnectBonds_Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1301,893},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ConnectBonds_Light_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{274,282}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1189,617},{274,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_IdolTower_Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1041,889},{74,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_IdolTower_Light_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{240,286}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1767,303},{240,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1565,891},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirArrow_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{264,254}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1747,605},{264,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirStone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1473,891},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirStone_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{274,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1491,303},{274,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PiecePaper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1117,893},{82,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_PiecePaper_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{270,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{585,617},{270,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_PiecePaper_N_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{1316,161}</string>
                <key>spriteSourceSize</key>
                <string>{1320,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{1316,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PiecePaper_N_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{1316,161}</string>
                <key>spriteSourceSize</key>
                <string>{1320,165}</string>
                <key>textureRect</key>
                <string>{{1,164},{1316,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PiecePaper_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1209,893},{82,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_PiecePaper_Red_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{270,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{887,617},{270,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Shinryu_Fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1907,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Fly_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{290,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,327},{290,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Heavy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1907,93},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Heavy_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{290,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1615,1},{290,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1907,185},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Knight_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{290,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,629},{290,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Toho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1747,871},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Shinryu_Toho_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{290,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{293,327},{290,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_TimeSand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1839,871},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_TimeSand_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{294,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1319,1},{294,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Item_2.png</string>
            <key>size</key>
            <string>{2008,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ca6c819e583019e63bf7acdddc3147:1389d03577e205d80d7c2ec6ffe403db:135a1ac56faba7feca5c96d50b663c5c$</string>
            <key>textureFileName</key>
            <string>Item_2.png</string>
        </dict>
    </dict>
</plist>
