<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_MjolnirCharaVS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,180}</string>
                <key>spriteSourceSize</key>
                <string>{550,180}</string>
                <key>textureRect</key>
                <string>{{997,1},{544,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Ability_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{997,183},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Ability_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1117,183},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_MjolnirCounterBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,76}</string>
                <key>spriteSourceSize</key>
                <string>{778,76}</string>
                <key>textureRect</key>
                <string>{{1237,183},{778,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_MjolnirEnemyLv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,80}</string>
                <key>spriteSourceSize</key>
                <string>{534,82}</string>
                <key>textureRect</key>
                <string>{{785,303},{532,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_MjolnirKingdomLv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,80}</string>
                <key>spriteSourceSize</key>
                <string>{534,82}</string>
                <key>textureRect</key>
                <string>{{1465,261},{532,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_MjolnirMyLv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{782,80}</string>
                <key>spriteSourceSize</key>
                <string>{782,82}</string>
                <key>textureRect</key>
                <string>{{1,303},{782,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Process.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{266,80}</string>
                <key>spriteSourceSize</key>
                <string>{284,88}</string>
                <key>textureRect</key>
                <string>{{833,1},{266,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_Process.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{266,80}</string>
                <key>spriteSourceSize</key>
                <string>{284,88}</string>
                <key>textureRect</key>
                <string>{{915,1},{266,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Avoid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1465,343},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirSeasonCycle_DarkLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{300,206}</string>
                <key>spriteSourceSize</key>
                <string>{320,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirSeasonCycle_HeavenLogic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{300,206}</string>
                <key>spriteSourceSize</key>
                <string>{320,224}</string>
                <key>textureRect</key>
                <string>{{209,1},{300,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirSeasonCycle_LightDark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{300,206}</string>
                <key>spriteSourceSize</key>
                <string>{320,224}</string>
                <key>textureRect</key>
                <string>{{417,1},{300,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirSeasonCycle_LogicHeaven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{300,206}</string>
                <key>spriteSourceSize</key>
                <string>{320,224}</string>
                <key>textureRect</key>
                <string>{{625,1},{300,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_MjolnirSeason_DarkLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1543,1},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirSeason_HeavenLogic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1661,1},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirSeason_LightDark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1779,1},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_MjolnirSeason_LogicHeaven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1897,1},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_unselectable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1319,261},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_Mjolnir_Edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,8}</string>
                <key>spriteSourceSize</key>
                <string>{80,8}</string>
                <key>textureRect</key>
                <string>{{1,385},{80,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mjolnir_Common.png</string>
            <key>size</key>
            <string>{2016,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626d03e44916842a61750c72dbd33aaa:8e2d931070ecf3f9b84969af9d24e2cb:e7ee257bf8dcbe44f6e71a3485857c29$</string>
            <key>textureFileName</key>
            <string>Mjolnir_Common.png</string>
        </dict>
    </dict>
</plist>
