<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frm_InfoEdit_Resonate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{168,80}</string>
                <key>spriteSourceSize</key>
                <string>{168,82}</string>
                <key>textureRect</key>
                <string>{{1,289},{168,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_PassiveX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,437},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PassiveX_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{83,379},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Resonate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{83,289},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ResonatePlayer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{287,1},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ResonatePlayer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{287,243},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Resonate_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{284,286}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Resonate_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{131,379},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Resonate_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{131,431},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Resonate.png</string>
            <key>size</key>
            <string>{508,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13303e82c14f344c35f4b0038235c12d:2e0253649c351b69bbee9bf307bc81e8:0f12af41d0d9ac33ff909a6dd5c7112c$</string>
            <key>textureFileName</key>
            <string>Resonate.png</string>
        </dict>
    </dict>
</plist>
