<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_BlessingEarthSavior.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingEarthSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1039,1},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingFireSavior.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1,241},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingFireSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1039,93},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingWaterSavior.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingWaterSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1039,185},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingWindSavior.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{223,241},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BlessingWindSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1021,277},{82,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendEarthSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{907,1},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendFireSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{907,121},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendWaterSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{889,241},{118,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_LegendWindSaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,130}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{889,361},{118,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_SaviorPlayerEarth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{445,1},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_SaviorPlayerFire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{445,241},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_SaviorPlayerWater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{667,1},{220,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_SaviorPlayerWind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{667,223},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_SaviorS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1009,361},{82,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Savior_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1009,445},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Savior.png</string>
            <key>size</key>
            <string>{1122,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a2a47d61c90be68914388a2a26f03c:efa29e99dcbb01110ed245fc0afae74e:5ca25e606d561d5ff5e8bee57eef214d$</string>
            <key>textureFileName</key>
            <string>Savior.png</string>
        </dict>
    </dict>
</plist>
