<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Summon_Category_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,429},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,609},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,215},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1329},{178,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1507},{178,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,789},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,969},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Summon_Category_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,1149},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Summon_Category.png</string>
            <key>size</key>
            <string>{210,1684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3510ac9b4526a62003361f6cb443194:85d518603bdf6c8a9f914666d028d3a6:26a57b431a171f89e203956ce3b0f44f$</string>
            <key>textureFileName</key>
            <string>Summon_Category.png</string>
        </dict>
    </dict>
</plist>
