<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Error.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{643,361},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Error_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{640,642}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1,361},{640,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,180}</string>
                <key>spriteSourceSize</key>
                <string>{900,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Ribbon_Fes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{898,176}</string>
                <key>spriteSourceSize</key>
                <string>{900,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{898,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{643,633},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{785,633},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{643,775},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone_W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{785,775},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Summon.png</string>
            <key>size</key>
            <string>{926,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc2b3de206478a4f8191cec84ca78c7:4678ea27339bed1c553bdd87197138cf:86b30beee747f09228517752fe7d879e$</string>
            <key>textureFileName</key>
            <string>Summon.png</string>
        </dict>
    </dict>
</plist>
