<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frm_Name_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,316}</string>
                <key>spriteSourceSize</key>
                <string>{594,316}</string>
                <key>textureRect</key>
                <string>{{855,1},{594,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Name_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,436}</string>
                <key>spriteSourceSize</key>
                <string>{662,436}</string>
                <key>textureRect</key>
                <string>{{1,481},{662,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_Name_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{852,478}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{852,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_DoublePlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{665,723},{220,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_GodWear_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1673,1},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PairPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1571,485},{220,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_RelianceBlank_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1451,1},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1451,243},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonA_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{665,481},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1757,129},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonB_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{887,319},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1325,803},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonC_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1109,319},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePersonS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1373,803},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_ReliancePersonS_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1331,319},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{905,887},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerA_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{905,561},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{957,887},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_ReliancePlayerB_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1127,561},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1503,243},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerC_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1349,561},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ReliancePlayerS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1011,887},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_ReliancePlayerS_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,240}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1553,243},{220,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_TwinWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{220,240}</string>
                <key>textureRect</key>
                <string>{{1571,725},{220,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{905,803},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1673,129},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{989,803},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1073,803},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1157,803},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_5_Idol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1241,803},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UnitEdit_2.png</string>
            <key>size</key>
            <string>{1810,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2034a3e1fe17ecca1d4c0fa3770bfc74:7f5f5bef657bdb6eb79dadd8a8916034:d575a51c1cf7bc810850768f69a52296$</string>
            <key>textureFileName</key>
            <string>UnitEdit_2.png</string>
        </dict>
    </dict>
</plist>
