.filter-grayscale-1 {
  filter: grayscale(1);
}

.flex-grow-2 {
  flex-grow: 2 !important;
}

.flex-grow-3 {
  flex-grow: 3 !important;
}

.text-no-wrap .text-reset-wrap {
  white-space: initial !important;
}

.width-500px {
  width: 500px;
}

.cursor-pointer {
  cursor: pointer;
}

.theme-dark {
  #tarteaucitronBack {
    background: #000 !important;
  }
  .tarteaucitronBorder {
    background: #666 !important;
  }
  .tarteaucitronLine:not(.tarteaucitronMainLine) {
    background: #777 !important;
  }
  .tarteaucitronDetails {
    background: #888 !important;
  }
  div#tarteaucitronServices {
    box-shadow: 0 0px 10px #545454 !important;
  }
}
