.filter-grayscale-1 {
  filter: grayscale(1);
}
.filter-brightness-0 {
  filter: brightness(0%);
}

.flex-grow-2 {
  flex-grow: 2 !important;
}
.flex-grow-3 {
  flex-grow: 3 !important;
}

.z-index-1 {
  z-index: 1;
}

.text-no-wrap .text-reset-wrap {
  white-space: initial !important;
}

.width-500px {
  width: 500px;
}

.cursor-pointer {
  cursor: pointer;
}

.theme-dark {
  #tarteaucitronBack {
    background: #000 !important;
  }
  .tarteaucitronBorder {
    background: #666 !important;
  }
  .tarteaucitronLine:not(.tarteaucitronMainLine) {
    background: #777 !important;
  }
  .tarteaucitronDetails {
    background: #888 !important;
  }
  div#tarteaucitronServices {
    box-shadow: 0 0px 10px #545454 !important;
  }
}

.crossed {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    top: -10%;
    height: 120%;
    width: 2px;
    background-color: currentColor;
    box-shadow: 0px 0px 3px 1px white;
    z-index: 0;
  }
  &::before {
    content: ' ';
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
